
body {
  margin: 0; 
}
.App {
  width: 100%;
  height: 100%;
  font-family: 'Roboto' , sans-serif;

}
.App_content {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  width: 90%;
  height: 90%;
  opacity: 1;
  border-radius: 32px;  
  
}

.App_bg {
  overflow: hidden;
  display:flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #306FAB;
  position: absolute;

}
.App_bg_left {
  width: 25%;
  height: 100%;
  background-color: #2b2b2b;
  border-radius: 1% 5%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 2px;;
  transform: translateY();
}
.bg_wave {
  width: 5%;
  height: 100%;
  
}
.bg_wave::before ,.bg_wave::after {
  content: "";
  position: absolute;
  right: 75px; /*w/2*/
  top : 0;
  width: 150px; /*w = 150*/
  height: 100%;
  background: radial-gradient(closest-side, #306FAB, #306FAB 50%,  transparent 50%);
  background-size: 150px 150px; /*w w*/
  background-position: 75px 0px; /*w/2 0*/
  background-repeat: repeat-y;
  animation: infinite 125s waveAnimation2;

}
.bg_wave::after {
  right: -75px;
  background: radial-gradient(closest-side, transparent , transparent 50%,  #306FAB 50%);
  background-size: 150px 150px; /*w w*/
  background-position: -75px 75px; /*-w/2 0*/
  background-repeat: repeat-y;
  animation: infinite 125s waveAnimation;
  
}
@keyframes waveAnimation {
  0% {
    background-position: -75px 75px;
  }
  50% {
    background-position: -75px 2075px;
  }
  100% {
    background-position: -75px 75px;
  }
}
@keyframes waveAnimation2 {
  0% {
    background-position: 75px 0;
  }
  50% {
    background-position: 75px 2000px;
  }
  100% {
    background-position: 75px 0;
  }
}